@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 로고를 왼쪽 정렬 */
  padding: 20px;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  margin-left: 400px; /* 좌측 여백 추가 */
}

@media (max-width: 744px) {
  .logo-container {
    margin-left: 20px; /* 좌측 여백 추가 */
  }
}
